body {
  font-family: Varela Round;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}
.icon_card {
  font-size: 20px;
}
.container {
  margin-top: 50px;
}

.card-sl {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #e26d5c;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #e26d5c;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.table {
  width: 100%;
  text-align: center;
}
.table_data,
.table_header {
  border: 1px solid #dddddd;
  padding: 8px;
}
.table_delete {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.btn_buy {
  width: 200px;
  height: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  background-color: blue;
  color: white;
  border-radius: 50px;
}

.add_quantity {
  font-size: 15px;
  margin-right: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.minus_quantity {
  font-size: 15px;
  margin-left: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.imgCart{
  width: 100px;
  height: 100px;
}